
@font-face {
  font-family: 'Mono';
  src: url('../mono.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html{/*background-color: black;*/
	font-size: calc(9px + 3vw);

}

body{
	font-family: 'Mono';
	background-color: #3e3533;


}

a{
  text-decoration:none;
}

.boxed-text{

	background-color:#e0c89b; 
	
	padding: 30px;
	padding: 1rem;
	/*font-size: calc(10px + 4vw);*/
	max-width: 60vw;
	height: max-content;
	line-height: 1.4;
	text-align: center;
	margin: auto;

	/*margin: 0;
	
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.boxed-text p{

	color: #3e3533;

}

.align-middle{
	display: grid;

	grid-template-rows: auto max-content auto; 

}

h1{
	/*margin-bottom: 5vh;*/

	/*35px;*/
	color: #827459;
	text-align: left;  
}
h2{
	/*35px;*/
	color: #827459;
	text-align: left; 

}
h3{
	/*padding: 10px;
	font-size: 20px;*/
	text-align: left;
	color: #827459;
	font-size: 0.8rem;
}
h4{
	/*padding: 10px;
	font-size: 20px;*/
	padding: 0.5rem;
	text-align: center;
	color: #827459;
	font-size: 0.7rem;
}
p{
	color: #e0c89b;
}
.external-link{
	text-align: center;
	display: block;
	color: #e0c89b;
	/*font-size: 20px;*/
	/*margin-bottom: 30px;*/
	margin-bottom: 1.5rem;
	transition: 300ms ease-in-out;
	font-size: 0.8rem;
}

.links-container{
	/*
	height: 50vh;
    /* margin-top: calc(10vh + 10%); *//*
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center; */

}

.breadcrumb-link{
	color: #827459; 
	/*font-size: 20px;*/
	border-bottom: 3px dashed;
	padding-bottom: 2px;
	position: relative;
	bottom: 5px;
	transition: 300ms ease-in-out;

}
.breadcrumb-active{
	/*font-size: 35px;*/
	/*font-size: calc(10px + 4vw);*/
	color: #827459;
	font-size: 1.5rem;
}

.breadcrumb-separation{
	font-size: 20px;
	padding: 8px;
	position: relative;
	bottom: 2px;
}

/*SECTIONS*/
section{
	width: 80%;
	margin: auto;
	min-height: 80vh;
	padding: 10vh 0;
}
/**/
.project-grid{
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
}
.project-grid li{
	display: block;
	width: max-content;
	margin-right: 4vw;
	margin-bottom: 4vh;
}




.project-link{
	cursor: pointer;
	background-color: red;
	z-index:1;
	opacity: 0;
}
.project-link:hover {
	cursor: pointer;
	opacity: 0.3;
}


.img-project{
	background-color: #e0c89b;
	width: 10rem;
	height: 10rem;
}
.project-label{
	color: #e0c89b;
	/*font-size: 20px;
	margin-bottom:10px;*/
	font-size: 1rem;
	margin-bottom: 0.6rem;

}
/*NAVBAR*/
/*Nav spacing*/
.height-style-1{
	height: 5vh;
}
/*GENERAL NAVBAR*/
nav{
	position: fixed;
    
    
    color: white;
    margin: 0;

    display: block;
    
    z-index: 1000;
    text-align: center;

    background-color: #3e3533;
}
.nav-style-1{
	top: 0px;
    left: 0;
    width: 100%;
    height: max-content;
    /*padding-top: 3vh;*/
    padding-top: 1rem; 
}
.nav-bottom{
	bottom: 0px;
	left: 0;
    width: 100%;
    height: max-content;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem; 
}


/**/
.navbar-logo{
	margin: 10px 0; 
	/*font-size: calc(20px + 4vw);*/
	/*font-size:40px; */
	color: #e0c89b;
	font-size: 1.7rem;


}
/**/

#open-nav{
	display: none;
}

/*nav links*/
.navbar-list, .navbar-list li{
	display: block;
	width: max-content;
}

.navbar-list li {
	width: min-content;
	padding: 8px 14px;
	
}


.navbar-list a{

	/*font-size: 25px;*/
	/*font-size: calc(6px + 3vw);*/

	cursor: pointer;
	transition:  300ms;
}

/*
.navbar-list a::after{
	content: "";
	display: block;
	height: 2px;
	width: 5px;
	margin-top: 4px;
	transition:  300ms;
	visibility: hidden;
	opacity: 0;
}

.navbar-list a:hover::after{
	visibility: visible;
	opacity: 1;
	width: 100%;
}

.active a::after{
	visibility: visible;
	opacity: 1;
	width: 100%;
}*/

.navbar-list{
	width: 100%;
	display: flex;
	justify-content: space-around;
}


/*dark links*/
/*
.dark-links a{
	color: dimgrey;
}
.dark-links a:hover{
	color:black;
}
.dark-links .active a{
	color:black;
}
.dark-links a::after{
	background-color: black;

}
*/
/*light link*/

.light-links a{

	color: white;
	color: #e0c89b;
}


.underline{
	display: block;
	height: 8px;
	width: 0;
	transition: 300ms;
	visibility: hidden;
}
.active .underline{
	visibility: visible;
	width: 100%;
}

.light-links li:hover .underline{
	visibility: visible;
	width: 100%;
}

.path{
	stroke-dasharray: 10;
}

.light-links li:hover .path {
	
	animation: dash 40s linear;
	animation-direction: reverse;

}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}


/*
.active{
	text-decoration: underline dashed;
}
.light-links a:hover{
	color: white;
}
.light-links .active a{
	color: white;
}
.light-links a::after{
	background-color: white;

}




/**/
#bookings-section{
	display: flex;
	justify-content: space-between;


}
.module-wrapper{
	width: 90%;
	margin: 30px auto 0;
}

#day-bookings{
	width:70%;
	margin-left: 20px;
	max-width: 1500px;

}



.general-btn{
	
	font-size: 0.7rem;
	cursor: pointer;
	transition:  300ms;
	color: #e0c89b;
	text-decoration: none;
	display: block;
	width: max-content;
	margin:1rem auto 2rem;
	font-weight: 0;
	height: max-content;

}

.link-btn{
	padding-bottom: 0.2rem; 
	border-bottom: solid 1px #e0c89b;


}

.content-wrapper{
	width: 80%;
	margin: auto;

}

.bordered-btn{
	padding: 15px 25px; 
	border: solid 1px salmon;
	border-radius: 3px;	
	
	display: inline-block;
	color: salmon;

	margin:0.5rem auto;
}
.bordered-btn:hover{
	color: #3e3533;
	background-color: salmon;
	/*background-color: #4d4c4c;
	color: white;*/
}

#bookingsbtn{
	font-weight: bolder;
	font-size: 22px;
	margin: 50px auto 80px;
	border-bottom: solid 2px black;
}

.details-btn{
	padding-bottom: 5px; 
	border-bottom: solid 1px black;

    padding-bottom: 2px;
    height: max-content;
    margin: auto 0 auto auto;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;

}



/*WORK DISPLAY*/

.options-logo{
	width: 35px; 
	
	cursor: pointer;

    position: relative;
    right: 6px;
    top: 3px;

    fill: #e0c89b;
    float: right;
}
.work-display-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: black;
	/*opacity: 0.5;*/
	display: grid;
	align-self: center;



}
.work-display-background{
	justify-self: center;
  	align-self:   center;
  	background-color: #3e3533;
  	width: 80%;
  	max-width: 1000px;
  	
}

.work-display{
	justify-self: center;
  	align-self:   center;
	
  	width: 80%;
  	margin: 1.5rem auto;


	z-index: 2000;
	opacity: 1;
	background-color: #3e3533;
	display: grid;
	height: 40vh;
	/*grid-template-columns: 50% 50%;*/
	/*grid-template-rows: 12rem;*/
	overflow: scroll;
}
.work-display h1{
	margin: 1rem 0 0.6rem;
}
.tech-used li{
	border: 1px dashed #e0c89b;
	padding: 0.3rem;
	margin: 0.3rem 0;
	display: inline-block;
	font-size: 0.6rem;
	color: #e0c89b;
}



@media screen and (min-width: 800px){

	html{
		font-size: calc(40px - 1vw);
	}

}
@media screen and (min-width: 2000px){

	html{
		font-size: 40px;
		/*font-size: calc(5px + 0.5vw);*/
	}
	
}

@media screen and (max-width: 700px){
	

}

@media screen and (max-height: 700px){

}


/*
BLACKISH BLUE - #17252A
DARK BLUE - #026670
MEDIUM BLUE - #9FEDD7
DARK YELLOW - #FCE181
LIGHT YELLOW - #FEF9C7
LIGHT BLUE - #DEF2F1
LIGHT GRAY - #EDEAE5
*/

