<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<meta name="viewport" content ="width=device-width,initial-scale=1.0,user-scalable=yes" />

	<!--<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="bg-gray">

	<header>
		
	</header>
	<main>

		<div id="login-section">
			<div class="login-module  module-background">

				<h1 class="page-header" id="login-label">DASHBOARD LOGIN</h1>
				


				<div class="forms-wrapper">
					<form class="login-form" id="login-form-emp">
						<input class="input-user-form" name="username" type="text" data-index="1" required>
					    <label class="label-user-form">Username</label>
						<input class="input-user-form" name="password" type="password" data-index="2" required>
					    <label class="label-user-form">Password</label>
					    <a href="#" class="" id="passwd-reset">Forgot your password?</a>

					</form>
				</div>	
				
				<!--<div class="forms-wrapper">
					<form id="register-form">
						<div style="margin-bottom: 20px;">
							<input class="input-user-form" name="name" type="text" data-index="1" required>
						    <label class="label-user-form">Name</label>
						
						    <input class="input-user-form" name="email" type="text" data-index="2" required>
						    <label class="label-user-form">Email</label>
						
						    <input class="input-user-form" name="phone" type="text" data-index="3" required>
						    <label class="label-user-form">Phone</label>
							
						</div>
						

						<input class="input-user-form" name="username" type="text" data-index="4" required>
					    <label class="label-user-form">Username</label>

						<input class="input-user-form" name="password" type="password" data-index="5" required>
					    <label class="label-user-form">Password</label>
					    
						<input class="input-user-form" name="confirm-password" type="password" data-index="6" required>
					    <label class="label-user-form">Confirm Password</label>
					</form>
				</div>-->

				<a tabindex="0" class="general-btn bordered-btn" id="login-dashboard">LOG IN</a>
				<!--<a tabindex="0" class="general-btn link-btn" id="register">Create account</a>-->
			</div>
		</div>


	</main>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/jquery.inputmask.js') }}"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/bindings/inputmask.binding.js') }}"></script>

	<!--<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script> custom bar-->
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>