<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<meta name="viewport" content ="width=device-width,initial-scale=1.0,user-scalable=yes" />

	<!--<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />-->

	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body class="bg-blue">

	

	<div class="height-style-2"></div>
	<header>
		
	</header>
	<main>
		<div id="login-section">
			<div class="login-module  module-background">

				<h1 class="page-header" id="login-label">WELCOME</h1>
				
				<div class="forms-wrapper" id="register-form">
					<form class="">
					    <input class="input-user-form" name="name" type="text" required>
					    <label class="label-user-form">Name</label>
					</form>
					<form class="">
					    <input class="input-user-form" name="email" type="text" required>
					    <label class="label-user-form">Email</label>
					</form>
					<form class="">
					    <input class="input-user-form" name="phone" type="text" required>
					    <label class="label-user-form">Phone</label>
					</form>
				</div>


				<div class="forms-wrapper">
					<form class="login-form">
					    <input class="input-user-form" name="username" type="text" required>
					    <label class="label-user-form">Username</label>
					</form>
					<form class="login-form">
						<input class="input-user-form" name="password" type="password" required>
					    <label class="label-user-form">Password</label>
					    <a href="#" class="" id="passwd-reset">Forgot your password?</a>
					</form>
				</div>	
				
				<div class="forms-wrapper">
					<form class="" id="confirm-passwd">
						<input class="input-user-form" name="confirm-password" type="password" required>
					    <label class="label-user-form">Confirm Password</label>
					</form>
				</div>

				<a class="general-btn bordered-btn" id="login">LOG IN</a>
				<a class="general-btn link-btn" id="register">Create account</a>
			</div>
			
		</div>


	</main>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/jquery.inputmask.js') }}"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/bindings/inputmask.binding.js') }}"></script>

	<!--<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script> custom bar-->
	<script src="static/js/login.js"></script>
</body>
</html>