<!DOCTYPE html>
<html>
<head>
	<title>Book Appointment</title>
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<meta name="viewport" content ="width=device-width,initial-scale=1.0,user-scalable=yes" />

	<!--<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />-->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-blue">
	<header>
		<h1 class="page-header">BOOK APPOINTMENT</h1>
	</header>
	<main>
		<section class="module-background module-size">
			<div class="section-wrapper">
				<div class="flex-inner-section">
					<div class="dropdown">
						<div class="dropdown-label">Select a branch:</div>
						<div class="dropdown-header">
							<span data-branch="" id="branch-dropdown-title">Branch...</span> 
							<span class="dropdown-arrow">&lt</span>
						</div>
						<ul class="dropdown-list" id="branch-dropdown">
							<li> Branch Name 1</li>
							<li> Branch Name 2</li>
							<li> Branch Name 3</li>
						</ul>		
					</div>

					<div class="dropdown">
						<div class="dropdown-label">Select a service:</div>
						<div class="dropdown-header">
							<span data-service=""id="service-dropdown-title">Service...</span> 
							<span class="dropdown-arrow">&lt</span>
						</div>
						<ul class="dropdown-list" id="service-dropdown">
							<li> Service Name 1</li>
							<li> Service Name 2</li>
							<li> Service Name 3</li>
						</ul>		
					</div>

					<div class="dropdown">
						<div class="dropdown-label">Select a provider:</div>
						<div class="dropdown-header">
							<span data-provider="" id="provider-dropdown-title">Provider...</span> 
							<span class="dropdown-arrow">&lt</span>
						</div>
						<ul class="dropdown-list" id="provider-dropdown">
							<li> Provider Name 1</li>
							<li> Provider Name 2</li>
							<li> Provider Name 3</li>
						</ul>		
					</div>
				</div>
			</div>
	
		</section>

		<section class="module-background module-size" id="date-and-time">
			<div class="section-wrapper">
				<h2>Select date</h2>
				<div class="filter-wrapper">
					<div class="" id="filter-toggle" onclick="">
						<svg id="filter-img" viewBox="0 0 32 32">
							<style>.cls-1{fill:none;}</style>
							<path d="M28,9H11a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/><path d="M7,9H4A1,1,0,0,1,4,7H7A1,1,0,0,1,7,9Z"/><path d="M21,17H4a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z"/><path d="M11,25H4a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z"/><path d="M9,11a3,3,0,1,1,3-3A3,3,0,0,1,9,11ZM9,7a1,1,0,1,0,1,1A1,1,0,0,0,9,7Z"/><path d="M23,19a3,3,0,1,1,3-3A3,3,0,0,1,23,19Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,23,15Z"/><path d="M13,27a3,3,0,1,1,3-3A3,3,0,0,1,13,27Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,13,23Z"/><path d="M28,17H25a1,1,0,0,1,0-2h3a1,1,0,0,1,0,2Z"/><path d="M28,25H15a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z"/>
						</svg>
					</div>
					<div class="filter-options-wrapper">
						<ul class="filter-options">
							<li id="time-filter">
								<span>Time: </span><input class="time-input" type="text" placeholder="00:00"data-inputmask-regex="([01][0-9]|[2][0-3]):[0-5][0-9]"><span id="time-filter-dash"> - </span><input class="time-input" type="text" placeholder="23:59" data-inputmask-regex="([01][0-9]|[2][0-3]):[0-5][0-9]">
							</li>
							<li id="days-filter">
								<div id="days-filter-header" tabindex="0">
									<span>Days</span> 
									<span id="dropdown-arrow">&lt</span>
								</div>
								

								 <form id="dropdown-list">
									<label class="label-filter">
										<input type="checkbox" checked="checked">
										<span class="custom-checkbox"></span>Monday
									</label>

									<label class="label-filter">
										<input type="checkbox" checked="checked">
										<span class="custom-checkbox"></span>Tuesday
									</label>

									<label class="label-filter">
										<input type="checkbox" checked="checked"><span class="custom-checkbox"></span>Wednesday
									</label>

									<label class="label-filter">
										<input type="checkbox" checked="checked"><span class="custom-checkbox"></span>Thursday
									</label>

									<label class="label-filter">
										<input type="checkbox" checked="checked"><span class="custom-checkbox"></span>Friday
									</label>
									<label class="label-filter">
										<input type="checkbox" checked="checked"><span class="custom-checkbox"></span>Saturday
									</label>

								</form>
							</li>
						</ul>
						<div id="filter-buttons-container">
							<div class="button" id="filter-button">CLEAR</div><div class="button" id="filter-button">APPLY</div>
						</div>
					</div>
					<div id="line" style="width:100%; border-bottom:solid thin #d6d4d4; margin-top:2px;"></div>	
				</div>

				<div class="calendar">
						<div class="calendarheader">
							<span id="previousmonth">&lt</span>
							<span id="month-and-year-span">
								<span class="month">   </span> <span class="year">    </span>
							</span>
							
							<span id="nextmonth">&gt</span>
						</div>

						<div class="date">
							<div class="day">M</div>
							<div class="day">T</div>
							<div class="day">W</div>
							<div class="day">T</div>
							<div class="day">F</div>
							<div class="day">S</div>
							<div class="day">S</div>

							<div class="number">1</div>
							<div class="number">2</div>
							<div class="number">3</div>
							<div class="number">4</div>
							<div class="number">5</div>
							<div class="number">6</div>
							<div class="number">7</div>
							<div class="number">8</div>
							<div class="number">9</div>
							<div class="number">10</div>
							<div class="number">11</div>
							<div class="number">12</div>
							<div class="number">13</div>
							<div class="number">14</div>
							<div class="number">15</div>
							<div class="number">16</div>
							<div class="number">17</div>
							<div class="number">18</div>
							<div class="number">19</div>
							<div class="number">20</div>
							<div class="number">21</div>
							<div class="number">22</div>
							<div class="number">23</div>
							<div class="number">24</div>
							<div class="number">25</div>
							<div class="number">26</div>
							<div class="number">27</div>
							<div class="number">28</div>
							<div class="number">29</div>
							<div class="number">30</div>
							<div class="number">31</div>
						</div>
				</div>
				
				<div class="time-wrapper">
					<div class="time-header-wrapper">
						<div class="togglebtn" id="time-header-toggle">
							<svg class="clock-logo" viewBox="0 0 32 32">
								<style>
									.st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
									.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
									.st2{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
									.st3{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
									.st4{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}
								</style>
								<circle class="st0" cx="16" cy="16" r="13"/>
								<polyline class="st1" points="16,6 16,16 21,11 "/>
							</svg>
							<span class="time-title">Select a time</span>
						</div>
					</div>
					<form class="time-form" style="display: flex;	justify-content: center; margin: 5px">
							<div class="time-block-left">
								<!--<label class="label-filter">
									<input type="checkbox" name="A" value="09:00">
									<span class="custom-checkbox"></span>09:00
								</label>-->
							</div>
							<div class="time-block-right">
								<!--<label class="label-filter">
									<input type="checkbox" name="A" value="14:00">
									<span class="custom-checkbox"></span>14:00
								</label>-->
							</div>
					</form>
					<div id="time-user-aid">*Click to change the time</div>
				</div>
			</div>	
		</section>

		<section class="module-background module-size" id="user-data">
			<div class="section-wrapper" >
				<h2>Enter your details</h2>
				<div class="forms-wrapper">
					<form class="nameFrm">
					    <input class="input-user-form" name="name" type="text" required>
					    <label class="label-user-form">Name</label>
					</form>
					<form class="emailFrm">
						<input class="input-user-form" name="email" type="text" required>
					    <label class="label-user-form">Email</label>
					</form>
					<form class="phoneFrm">
						<input class="input-user-form" name="phone" type="text" required>
					    <label class="label-user-form">Phone</label>
					</form>
				</div>				
			</div>
		</section>

		<section class="module-background module-size">
			<div id="review-data">
				<h2 style="margin-bottom: 20px;">Review your details</h2>
				<div>
					<svg class="logo" viewBox="0 0 15 15.5">
						<path d="M12,1.5V0h-1v1.5H4V0H3v1.5H0v6v8h15v-8v-6H12z M1,2.5h2V4h1V2.5h7V4h1V2.5h2v4H1V2.5z M14,14.5H1v-7h13V14.5z"/>
					</svg>
					<span class="review-text" id="datetxt">Wednesday, 24 Apr 2020</span>
				</div>
				
				<div>
					<svg class="logo" viewBox="1 1 30 30">
						<style>
							.st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
							.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
							.st2{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
							.st3{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
							.st4{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}
						</style>
						<circle class="st0" cx="16" cy="16" r="13"/>
						<polyline class="st1" points="16,6 16,16 21,11 "/>
					</svg>
					<span class="review-text" id="timetxt">10:00</span>
				</div>

				<div>
					<svg class="logo" viewBox="0 0 32 32">
						<style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:2px;}</style><circle class="cls-1" cx="16" cy="8" r="7"/>
						<path class="cls-1" d="M27,26A11,11,0,0,0,5,26v5H27Z"/>
					</svg>
					<span class="review-text" id="nametxt">Shilvan da Costa</span>
				</div>

				<div>
					<svg class="logo" viewBox="0 0 32 32">
						<style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:2px;}</style><rect class="cls-1" height="22" width="30" x="1" y="5"/>
						<polyline class="cls-1" points="1 5 16 16 31 5"/>
					</svg>
					<span class="review-text" id="emailtxt">5.shilvandacosta@gmail.com</span>
				</div>
				

				<div>
					<svg class="logo" fill="none" stroke="#000" stroke-linecap="round" stroke-width="1.5" viewBox="1 1 22 22">
						<path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/>
					</svg>
					<span class="review-text" id="phonetxt">07425 9393775</span>
					
				</div>				
			</div>	
		</section>

		<div class="btn-wrapper">
			<a class="footer-button" id="confirmbtn">BOOK NOW</a>
		</div>

	</main>

	<div class="confirmed-view">
		<div class="title-container">
			<h1>APPOINTMENT CONFIRMED</h1>
		</div>

		<div class="confirmed-svg-container">
			<svg  viewBox="0 0 48 48" style="height: 100%;">
				<path d="M24,46C11.9,46,2,36.1,2,24S11.9,2,24,2s22,9.9,22,22S36.1,46,24,46z M24,4C13,4,4,13,4,24c0,11,9,20,20,20   c11,0,20-9,20-20C44,13,35,4,24,4z"/>
				<polygon points="20,34.1 11.3,25.4 12.7,23.9 20,31.2 35.3,15.9 36.7,17.4"/>
			</svg>
		</div>
		
		<div class="info-footer">
			<h3>*Check your email to manage your booking</h3>
		</div>		
	</div>
	


	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/jquery.inputmask.js') }}"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/bindings/inputmask.binding.js') }}"></script>

	<!--<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script> custom bar-->
	<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>


</body>



</html>