<!DOCTYPE html>
<html>
<head>
	<title>Cuttem by Shilvan</title>
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<meta name="viewport" content ="width=device-width,initial-scale=1.0,user-scalable=yes" />

	<!--<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash.css') }}">
</head>
<body class="bg-gray">


	
	<main id="index-main">
		<section id="index-section">
      <h1 class="page-header">Try Cuttem</h1>
      <div id="index-section-wrapper">
        <div class="index-module" style="margin-left: auto">
          <a href="{{ url_for('booking') }}" class="module-inner">
            <svg class="main-icon" style="enable-background:new 0 0 50 50;" viewBox="0 0 50 50">
              <path d="M41,1h-2v5H11V1H9v5H1v14v29h48V20V6h-8V1z M47,47H3V20h44V47z M47,8v10H3V8h6v5h2V8h28v5h2V8H47z"/>
            </svg>
            <h2>Booking</h2>
            <p>Use the sandbox environment to make a booking</p>
          </a>
        </div>
        <div class="index-module" style="margin-right: auto">
          <a href="{{ url_for('dashboard') }}" class="module-inner">
            <svg class="main-icon" viewBox="3 2 25 25">
              <line fill="none" stroke="#1D1D1B" stroke-miterlimit="10" x1="2.9" x2="29.1" y1="26.6" y2="26.6"/><rect fill="none" height="12.6" stroke="#1D1D1B" stroke-miterlimit="10" width="3.8" x="6.8" y="14"/><rect fill="none" height="16.2" stroke="#1D1D1B" stroke-miterlimit="10" width="3.8" x="14.1" y="10.4"/><rect fill="none" height="19.9" stroke="#1D1D1B" stroke-miterlimit="10" width="3.8" x="21.4" y="6.7"/></svg>
            <h2>Dashboard</h2>
            <p>Access the dashboard to view the bookings</p>
          </a>
        </div>
        
      </div>
      
      
	
		</section>

	</main>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/jquery.inputmask.js') }}"></script>
	<script src="{{ url_for('static', filename='js/inputmask/dist/bindings/inputmask.binding.js') }}"></script>

	<!--<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script> custom bar-->
	<!--<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>-->
</body>
</html>